.header {
  background: aqua;
  color: black;

}

.navigation {
  width:40%;
  background-color: lightgreen;
  height:40px;
}

.content {
  width:60%;
  background-color:green ;
  height:40px;
}

.footer {
  color:white;
  background: blue;
  height:40px;
}